<div class="prop-container">
  <h3>Extra properties
    <button class="sheet-action" data-action="add-extra-property">Add extra property</button>
  </h3>
  <div class="extra-properties">

    <div class="headers">
      <span>Show</span>
      <span>Name</span>
      <span>Type</span>
      <span>Value</span>
    </div>

    {{#each system.extraProperties as |extraProp propIndex|}}
    <div class="extra-property">
      <input type="checkbox" id="system.extraProperties.{{propIndex}}.show" name="system.extraProperties.{{propIndex}}.show" value="{detailLook ../system.extraProperties propIndex 'show'}}" data-dtype="Boolean" {{checked (detailLook ../system.extraProperties propIndex "show")}} />

      <input type="text" name="system.extraProperties.{{propIndex}}.name" value="{{extraProp.name}}">

      <select name="system.extraProperties.{{propIndex}}.type" value={{extraProp.type}}>
        <option value="number" {{selectedIfEquals extraProp.type "number"}}>number</option>
        <option value="bool" {{selectedIfEquals extraProp.type "bool"}}>bool</option>
        <option value="text" {{selectedIfEquals extraProp.type "text"}}>text</option>
      </select>

      <input type="text" name="system.extraProperties.{{propIndex}}.value" value="{{extraProp.value}}">

      <button class="sheet-action" data-action="remove-extra-property" data-prop-index="{{propIndex}}">Delete</button>
    </div>
    {{/each}}
  </div>
</div>

<form>

  <div>
    <label for="system.config.bonusDefense">bonus defense</label>
    <input type="text" name="system.config.bonusDefense" value="{{system.config.bonusDefense}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusGuard">bonus guard</label>
    <input type="text" name="system.config.bonusGuard" value="{{system.config.bonusGuard}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusDodge">bonus dodge</label>
    <input type="text" name="system.config.bonusDodge" value="{{system.config.bonusDodge}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusCapacity">bonus inventory capacity</label>
    <input type="text" name="system.config.bonusCapacity" value="{{system.config.bonusCapacity}}" data-dtype="Number" >
  </div> 

  <div>
    <input type="checkbox" id="system.config.isPaladin" name="system.config.isPaladin" value="{{system.config.isPaladin}}" data-dtype="Boolean" {{checked system.config.isPaladin}} />
    <label for="system.config.isPaladin">é paladino</label>

    {{#if system.config.isPaladin}}
      <br />
      <label for="system.config.miraclesAttb">Attributo milagres</label>
      <select name="system.config.miraclesAttb" value="{{system.config.miraclesAttb}}">
        <option value="str" {{selectedIfEquals system.config.miraclesAttb "str"}}>str</option>
        <option value="dex" {{selectedIfEquals system.config.miraclesAttb "dex"}}>dex</option>
        <option value="con" {{selectedIfEquals system.config.miraclesAttb "con"}}>con</option>
        <option value="int" {{selectedIfEquals system.config.miraclesAttb "int"}}>int</option>
        <option value="sen" {{selectedIfEquals system.config.miraclesAttb "sen"}}>sen</option>
        <option value="pre" {{selectedIfEquals system.config.miraclesAttb "pre"}}>pre</option>
      </select>
    {{/if}}
  </div>

  <div>
    <input type="checkbox" id="system.config.isCaster" name="system.config.isCaster" value="{{system.config.isCaster}}" data-dtype="Boolean" {{checked system.config.isCaster}} />
    <label for="system.config.isCaster">usa magia</label>

    {{#if system.config.isCaster}}
      <input type="checkbox" id="system.config.isPreparedCaster" name="system.config.isPreparedCaster" value="{{system.config.isPreparedCaster}}" data-dtype="Boolean" {{checked system.config.isPreparedCaster}} />
      <label for="system.config.isPreparedCaster">É Full-Caster (usa magia preparada)</label>
      <br />
      <label for="system.config.spellAttb">attributo magia</label>
      <select name="system.config.spellAttb" value="{{system.config.spellAttb}}">
        <option value="str" {{selectedIfEquals system.config.spellAttb "str"}}>str</option>
        <option value="dex" {{selectedIfEquals system.config.spellAttb "dex"}}>dex</option>
        <option value="con" {{selectedIfEquals system.config.spellAttb "con"}}>con</option>
        <option value="int" {{selectedIfEquals system.config.spellAttb "int"}}>int</option>
        <option value="sen" {{selectedIfEquals system.config.spellAttb "sen"}}>sen</option>
        <option value="pre" {{selectedIfEquals system.config.spellAttb "pre"}}>pre</option>
      </select>
      <div>
        <label for="system.config.bonusLearnedSpells">Magias aprendidas a mais</label>
        <input type="text" name="system.config.bonusLearnedSpells" value="{{system.config.bonusLearnedSpells}}" data-dtype="Number" >
      </div> 
    {{/if}}
  </div>

  <div>
    <input type="checkbox" id="system.config.hasClassSaves" name="system.config.hasClassSaves" value="{{system.config.hasClassSaves}}" data-dtype="Boolean" {{checked system.config.hasClassSaves}} />
    <label for="system.config.hasClassSaves">possui habilidades de classe com CD</label>

    {{#if system.config.hasClassSaves}}
      <br />
      <label for="system.config.classSaveAttb">Attributo habilidades de classe</label>
      <select name="system.config.classSaveAttb" value="{{system.config.classSaveAttb}}">
        <option value="str" {{selectedIfEquals system.config.classSaveAttb "str"}}>str</option>
        <option value="dex" {{selectedIfEquals system.config.classSaveAttb "dex"}}>dex</option>
        <option value="con" {{selectedIfEquals system.config.classSaveAttb "con"}}>con</option>
        <option value="int" {{selectedIfEquals system.config.classSaveAttb "int"}}>int</option>
        <option value="sen" {{selectedIfEquals system.config.classSaveAttb "sen"}}>sen</option>
        <option value="pre" {{selectedIfEquals system.config.classSaveAttb "pre"}}>pre</option>
      </select>
    {{/if}}
  </div>

  <span>Proficiências</span>
  {{#each system.config.attributeProficiencies as |isProficient attribute|}}
  <div>
    <input type="checkbox" id="system.config.attributeProficiencies.{{attribute}}" name="system.config.attributeProficiencies.{{attribute}}" value="isProficient" data-dtype="Boolean" {{checked isProficient}} />
    <label for="system.config.attributeProficiencies.{{attribute}}">{{attribute}}</label>
  </div>
  {{/each}}

  <div>
    <label for="system.config.lv1MaxHp">starting max Hp</label>
    <input type="text" name="system.config.lv1MaxHp" value="{{system.config.lv1MaxHp}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.hpPerLevel">HP per level</label>
    <input type="text" name="system.config.hpPerLevel" value="{{system.config.hpPerLevel}}" data-dtype="Number" >
  </div>

  <div>
    <label for="system.config.mpPerLevel">MP per level</label>
    <input type="text" name="system.config.mpPerLevel" value="{{system.config.mpPerLevel}}" data-dtype="Number" >
  </div>

  <div>
    <label for="system.config.bonusMaxHp">bonus max HP</label>
    <input type="text" name="system.config.bonusMaxHp" value="{{system.config.bonusMaxHp}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusMaxMp">bonus max MP</label>
    <input type="text" name="system.config.bonusMaxMp" value="{{system.config.bonusMaxMp}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusMaxFp">bonus max FP</label>
    <input type="text" name="system.config.bonusMaxFp" value="{{system.config.bonusMaxFp}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusSkillPoints">bonus skill points</label>
    <input type="text" name="system.config.bonusSkillPoints" value="{{system.config.bonusSkillPoints}}" data-dtype="Number" >
  </div> 

  <div>
    <label for="system.config.bonusMovementSpeed">bonus movement speed</label>
    <input type="text" name="system.config.bonusMovementSpeed" value="{{system.config.bonusMovementSpeed}}" data-dtype="Number" >
  </div>
</form>
