<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{>"systems/r20/templates/actor/parts/pc-resource.hbs" resource=system.resources.hp resourceName="HP" }}
        {{>"systems/r20/templates/actor/parts/pc-resource.hbs" resource=system.resources.mp resourceName="MP"}}
        {{#if system.config.isPaladin}}
        {{>"systems/r20/templates/actor/parts/pc-resource.hbs" resource=system.resources.fp resourceName="FP"}}
        {{/if}}

        <div class="resource flex-group-center">
          <label for="system.level" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="config">Config</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab skills" data-group="primary" data-tab="skills">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.attributes as |attribute key|}}
              {{>"systems/r20/templates/actor/parts/pc-attribute.hbs" attribute=attribute attributeName=key}}
            <!-- <div class="ability flexrow flex-group-center"> -->
            <!--   <p>this is attribute {{key}}</p> -->
            <!-- </div> -->
            {{/each}}
          </div>
        </aside>

        <div class="grid-span-2">
          <span>available skill points: {{system.openSkillPoints}}</span>
        <section class="main grid-span-2 skills">
          <span class="skill-header">skill name</span>
          <span class="skill-header grid-span-2">proficiencia</span>
          <span class="skill-header grid-span-2">attb</span>
          <span class="skill-header">bonus</span>
          <span class="skill-header">total</span>
          {{#each system.skills as |skill skillName|}}
          {{>"systems/r20/templates/actor/parts/pc-skill.hbs" skill=skill skillName=skillName attributes=../system.attributes openSkillPoints=../system.openSkillPoints maxSkillProficiency=../system.maxSkillProficiency}}
          {{/each}}
        </section>
        </div>

        <!-- {{!-- For the main features list, span the right two columns --}} -->
        <!-- <section class="main grid-span-2"> -->
        <!--   {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}} -->
        {{!-- {{> "systems/r20/templates/actor/parts/actor-features.hbs"}} --}}
        <!-- </section> -->

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>


    {{!-- Char Config Tab --}}
    <div class="tab config" data-group="primary" data-tab="config">
      <form>
        <div>
          <input type="checkbox" id="system.config.isPaladin" name="system.config.isPaladin" value="{{system.config.isPaladin}}" data-dtype="Boolean" {{checked system.config.isPaladin}} />
          <label for="system.config.isPaladin">é paladino</label>
        </div>

        <span>Proficiências</span>
        {{#each system.attributes as |attribute key|}}
          <div>
            <input type="checkbox" id="system.attributes.{{key}}.isProficient" name="system.attributes.{{key}}.isProficient" value="{{attribute.isProficient}}" data-dtype="Boolean" {{checked attribute.isProficient}} />
            <label for="system.attributes.{{key}}.isProficient">{{key}}</label>
          </div>
        {{/each}}

        <div>
          <label for="system.config.lv1MaxHp">starting max Hp</label>
          <input type="text" name="system.config.lv1MaxHp" value="{{system.config.lv1MaxHp}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.hpPerLevel">HP per level</label>
          <input type="text" name="system.config.hpPerLevel" value="{{system.config.hpPerLevel}}" data-dtype="Number" >
        </div>

        <div>
          <label for="system.config.mpPerLevel">MP per level</label>
          <input type="text" name="system.config.mpPerLevel" value="{{system.config.mpPerLevel}}" data-dtype="Number" >
        </div>

        <div>
          <label for="system.config.bonusMaxHp">bonus max HP</label>
          <input type="text" name="system.config.bonusMaxHP" value="{{system.config.bonusMaxHP}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.bonusMaxMp">bonus max MP</label>
          <input type="text" name="system.config.bonusMaxMP" value="{{system.config.bonusMaxMP}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.bonusMaxFp">bonus max FP</label>
          <input type="text" name="system.config.bonusMaxFP" value="{{system.config.bonusMaxFP}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.bonusSkillPoints">bonus skill points</label>
          <input type="text" name="system.config.bonusSkillPoints" value="{{system.config.bonusSkillPoints}}" data-dtype="Number" >
        </div> 
      </form>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/r20/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/r20/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/r20/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

