<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">HP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.resources.hp.value" value="{{system.resources.hp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.resources.hp.max" value="{{system.resources.hp.max}}" data-dtype="Number" disabled/>
          <span> ( </span>
          <input type="text" name="system.resources.hp.bonus" value="{{system.resources.hp.bonus}}" data-dtype="Number"/>
          <span> ) </span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">MP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.resources.mp.value" value="{{system.resources.mp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.resources.mp.max" value="{{system.resources.mp.max}}" data-dtype="Number" disabled/>
          <span> ( </span>
          <input type="text" name="system.resources.mp.bonus" value="{{system.resources.mp.bonus}}" data-dtype="Number"/>
          <span> ) </span>
          </div>
        </div>


        {{#if system.config.isPaladin}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">FP</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.resources.fp.value" value="{{system.resources.fp.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="text" name="system.resources.fp.max" value="{{system.resources.fp.max}}" data-dtype="Number" disabled/>
          <span> ( </span>
          <input type="text" name="system.resources.fp.bonus" value="{{system.resources.fp.bonus}}" data-dtype="Number"/>
          <span> ) </span>
          </div>
        </div>
        {{/if}}

        <div class="resource flex-group-center">
          <label for="system.level" class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
          <input type="text" name="system.level" value="{{system.level}}" data-dtype="Number"/>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    {{!-- <a class="item" data-tab="features">Features</a> --}}
    {{!-- <a class="item" data-tab="description">Description</a> --}}
    {{!-- <a class="item" data-tab="items">Items</a> --}}
    {{!-- <a class="item" data-tab="spells">Spells</a> --}}
    {{!-- <a class="item" data-tab="effects">Effects</a> --}}
    <a class="item" data-tab="config">Config</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each system.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="system.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/r20/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
      {{editor system.biography target="system.biography" rollData=rollData button=true owner=owner editable=editable}}
    </div>


    {{!-- Char Config Tab --}}
    <div class="tab config" data-group="primary" data-tab="config">
      <form>
        <div>
          <input type="checkbox" id="system.config.isPaladin" name="system.config.isPaladin" value="{{system.config.isPaladin}}" data-dtype="Boolean" {{checked system.config.isPaladin}} />
          <label for="system.config.isPaladin">é paladino</label>
        </div>

        <div>
          <label for="system.config.lv1MaxHp">starting max Hp</label>
          <input type="text" name="system.config.lv1MaxHp" value="{{system.config.lv1MaxHp}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.hpPerLevel">HP per level</label>
          <input type="text" name="system.config.hpPerLevel" value="{{system.config.hpPerLevel}}" data-dtype="Number" >
        </div>

        <div>
          <label for="system.config.mpPerLevel">MP per level</label>
          <input type="text" name="system.config.mpPerLevel" value="{{system.config.mpPerLevel}}" data-dtype="Number" >
        </div>

        <div>
          <label for="system.config.bonusMaxHp">bonus max HP</label>
          <input type="text" name="system.config.bonusMaxHP" value="{{system.config.bonusMaxHP}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.bonusMaxMp">bonus max MP</label>
          <input type="text" name="system.config.bonusMaxMP" value="{{system.config.bonusMaxMP}}" data-dtype="Number" >
        </div> 

        <div>
          <label for="system.config.bonusMaxFp">bonus max FP</label>
          <input type="text" name="system.config.bonusMaxFP" value="{{system.config.bonusMaxFP}}" data-dtype="Number" >
        </div> 
      </form>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/r20/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/r20/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/r20/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>

